@page "/Chat"
@attribute [Authorize]

@inject ILoggedInUserModel LoggedInUser
@inject IMessageEndpoint MessageEndpoint
@inject NavigationManager NavManager
@inject ICryptoService Crypto
@inject IJSRuntime JsRuntime
@inject ISettingEndpoint SettingEndpoint
@inject IImageEndpoint ImageEndpoint

<div class="view-wrapper">
    <div class="chat-view">
        <aside class="chat-sidebar">
            <div class="user-data-container">
                @* LoggedInUser Data *@
            
                <div class="d-flex justify-content-between">
                    <img class="img-avatar" src="@LoggedInUser.AvatarPath" alt="User Avatar">
                    
                    <div class="d-flex">
                        <NavLink class="nav-link" href="/settings/user">
                            <image class="img-link" src="resources/images/Settings.png"></image>
                        </NavLink>
                        <NavLink class="nav-link" href="logout">
                            <image class="img-link" src="resources/images/Logout.png"></image>
                        </NavLink>
                    </div>
                </div>
                <h2>@LoggedInUser.DisplayName</h2>
                <h3>@LoggedInUser.FirstName @LoggedInUser.LastName</h3>
            </div>  
            
            <div class="friends-groups-container">
                
                <!-- Friends and Groups go here -->
                <h3>Kontakti</h3>
                <ul>
                    @foreach (var contact in LoggedInUser.Contacts)
                    {
                        <li class="@ContactIsSelected(contact.Id!)" @onclick="() => SetMessageTarget(contact)">
                            <div style="display: grid; grid-template-columns: 1fr min-content; width: 100%;">
                                <div>@contact.FullName</div> 
                                <img class="img-avatar-small" src="@contact.AvatarPath" alt="contact_avatar"/>
                            </div>
                        </li>
                    }
                </ul>

                <h3>Grupe</h3>
                <ul>
                    @foreach (var group in LoggedInUser.Groups)
                    {
                        <li class="@ContactIsSelected(group.Id!)" @onclick="() => SetMessageTarget(group)">
                            @group.Name
                        </li>
                    }
                </ul>
            </div>
        </aside>
        
        <main class="chat-container">

            <div class="chat-output" @onscroll="() => SetScrollState(false)">
                
                <div>
                    @if (!string.IsNullOrEmpty(_msgTarget.Id) && _isMessageLoading)
                    {
                        <Loading/>
                    }
                </div>
                
                @foreach (var message in _messages)
                {
                    <div class="@($"{(message.IsOrigin ? "right" : "left")}-aligned message-wrapper " + $"{(message == _messages.Last() && _isAutoScrollEnabled ? "scroll-snap-start" : "")}")">
                        <div class="message-container">

                            @if (message.IsOrigin)
                            {
                                <div class="right-aligned avatar-container">
                                    <img src="@LoggedInUser.AvatarPath" alt="User Avatar">
                                </div>
                            }
                            else
                            {
                                <div class="@($"left-aligned avatar-container ")">
                                    <img src=@message.SourceAvatar alt="User Avatar">
                                </div>
                            }

                            <div class="@($"{(message.IsOrigin ? "right" : "left")}-aligned content-container ")">
                                @if (!message.IsOrigin)
                                {
                                    <p class="sender">@message.SourceName</p>
                                }
                                <p class="date">@message.CreatedDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</p>
                                <p class="message">@message.Content</p>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="chat-input">
                <input type="text" Placeholder="Nova poruka" @bind="_messageContent" @onkeydown="@(HandleKeyDown)">
                <button class="btn-accent" @onclick="SendMessage">Pošalji</button>
            </div>
        </main>
    </div>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    HubConnection? _hubConnection;
    
    private bool _isAutoScrollEnabled;
    
    private List<MessageModel> _messages = new();
    private string? _messageContent;
    private TargetModel _msgTarget = new();
    private GroupModel? _messageTargetGroup;
    private bool _isMessageLoading;

    
    
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        if (authState.User.Identity!.IsAuthenticated)
        {
            LoggedInUser.AvatarPath = ImageEndpoint.GetUserImage(new UserModel { Id = LoggedInUser.Id });
            foreach (var contact in LoggedInUser.Contacts)
            {
                contact.AvatarPath = ImageEndpoint.GetUserImage(LoggedInUser.Contacts.FirstOrDefault(x => x.Id == contact.Id)!);
            }
            
            StateHasChanged();
            
            SetupChatHub();
            SetupEncryption();
        }
    }
    
    private async void SetupChatHub()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavManager.ToAbsoluteUri("/chathub"), options =>
            {
                options.AccessTokenProvider = () => Task.FromResult("YourAccessToken")!;
                options.Transports = HttpTransportType.WebSockets;
            })
            .WithAutomaticReconnect(new[] { TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(2), TimeSpan.FromSeconds(5) })
            .Build();

        _hubConnection.On<string, MessageDtoModel>("ReceiveMessage", OnMessageReceived);
        await _hubConnection.StartAsync();
        
        List<string> groups = LoggedInUser.Groups.Select(x => x.Id).ToList()!;
        await _hubConnection.InvokeAsync("Login", LoggedInUser.Id!, groups);
    }
    private async void SetupEncryption()
    {
        var enycrptionKey = await SettingEndpoint.GetByKey("EncryptionKey");
            
        Crypto = new CryptoService(JsRuntime, new CryptoOptions()
        {
            Key = enycrptionKey.Value
        });
    }
    
    private async Task OnMessageReceived(string action, MessageDtoModel message)
    {
        var msg = new MessageModel
        {
            CreatedDate = message.CreatedDate,
            TargetId = message.TargetId,
            SourceId = message.SourceId,
            SourceAvatar = message.SourceAvatar,
            SourceName = message.SourceName,
            Content = await Crypto.DecryptAsync(message.Content),
            Image = message.Image,
            IsOrigin = LoggedInUser.Id == message.SourceId
        };

        if ((action == "AddSingle" && msg.SourceId == _msgTarget.Id) ||
            (action == "AddGroup" && msg.TargetId == _msgTarget.Id))
        {
            _messages.Add(msg);
            SetScrollState(true);
            StateHasChanged();
        }
    }

    private async void SetMessageTarget(TargetModel target)
    {
        try
        {
            _msgTarget = target;
            _isMessageLoading = true;
            var targetAvatar = "";
            var targetName = "";
            StateHasChanged();
            
            _messages.Clear();
            
            MessageQueryModel msgModel = new()
            {
                SourceId = LoggedInUser.Id,
                TargetId = target.Id
            };
            
            switch (_msgTarget)
            {
                case UserModel:
                    _messages = await MessageEndpoint.GetByUserId(msgModel);
                    targetAvatar = ImageEndpoint.GetUserImage(new UserModel() { Id = _msgTarget.Id });
                    targetName = LoggedInUser.Contacts.FirstOrDefault(x => x.Id == _msgTarget.Id)!.FullName;
                    break;
                case GroupModel:
                    _messages = await MessageEndpoint.GetByGroupId(msgModel);
                    _messageTargetGroup = LoggedInUser.Groups.FirstOrDefault(x => x.Id == _msgTarget.Id);

                    foreach (var contact in _messageTargetGroup!.Contacts)
                    {
                        contact.AvatarPath = ImageEndpoint.GetUserImage(new UserModel { Id = contact.Id });
                    }
                    break;
            }
            
            foreach (var msg in _messages)
            {
                msg.Content = await Crypto.DecryptAsync(msg.Content);
                msg.IsOrigin = LoggedInUser.Id == msg.SourceId;

                switch (_msgTarget)
                {
                    case UserModel:
                        msg.SourceAvatar = targetAvatar;
                        msg.SourceName = targetName;
                        break;
                    case GroupModel:
                        msg.SourceAvatar = _messageTargetGroup!.Contacts.FirstOrDefault(x => x.Id == msg.SourceId)!.AvatarPath;
                        msg.SourceName = _messageTargetGroup!.Contacts.FirstOrDefault(x => x.Id == msg.SourceId)!.FullName;
                        break;
                }
            }
            
            SetScrollState(true);
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        finally
        {
            _isMessageLoading = false;
            StateHasChanged();
        }
    }
    
    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key is "Enter")
        {
            await Task.Yield();
            
            if (!string.IsNullOrEmpty(_messageContent))
            {
                await SendMessage();
            }
        }
    }
    
    private async Task SendMessage()
    {
        if (string.IsNullOrEmpty(_msgTarget.Id))
        {
            return;
        }
        
        try
        {
            var displayMessage = new MessageModel()
            {
                CreatedDate = DateTime.UtcNow,
                TargetId = _msgTarget.Id,
                SourceId = LoggedInUser.Id,
                Content = _messageContent,
                Image = "",
                IsOrigin = true
            };
        
            _messages.Add(displayMessage);

            var dtoMessage = new MessageDtoModel()
            {
                CreatedDate = DateTime.UtcNow,
                TargetId = _msgTarget.Id,
                SourceId = LoggedInUser.Id,
                SourceName = LoggedInUser.FullName,
                SourceAvatar = LoggedInUser.AvatarPath,
                Content = (await Crypto.EncryptAsync(_messageContent)).Value,
                Image = ""
            };
            
            
            // send to chat hub
            switch (_msgTarget)
            {
                case UserModel:
                    await _hubConnection!.SendAsync("MessageSingle", "AddSingle", dtoMessage);
                    break;
                case GroupModel:
                    await _hubConnection!.SendAsync("MessageGroup", "AddGroup", dtoMessage);
                    break;
            }
            
            // save to database
            await MessageEndpoint.CreateNew(dtoMessage);
            
            _messageContent = "";
            SetScrollState(true);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
    private string ContactIsSelected(string contactId)
    {
        return _msgTarget.Id == contactId ? "selected" : "";
    }
    
    private void SetScrollState(bool state)
    {
        _isAutoScrollEnabled = state;
    }
}